@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Welcome to the word counter!</p>
<p>Once inside, you'll be prompted to enter some text, as well as a single word. The word counter will then count the occurrences of that word within the given text. Case sensitivity is optional, and punctuation is ignored entirely.</p>
<p>For your convenience, the word counter also features a history log. If you've been counting dirty words, there is no need to worry. You can clear your history with a single click!</p>
<form action="/repeatcounter/new" method="get">
  <button type="submit">Get started!</button>
</form>
