<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Word Counter</h1>
        <h3>A comprehensive solution for your word-counting needs.</h3>
      </div>
      @RenderBody()
  </div>
  </body>
</html>
