.jumbotron{
  background-image: url("../img/confused.gif");
  /* background-size: cover; */
  color: pink;
  text-shadow: 2px 2px 4px white;
}

.search-item-header{
  font-weight: bold;
  text-decoration: underline;
}

.search-item-footer{
  font-style: italic;
}

#phrase{
  height: 100px;
  width: 400px;
}

.clear-history-button {
     background:none!important;
     color: blue;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
